@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/opensans-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/opensans-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/opensans-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/opensans-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'OpenSansSemiBold';
  src: url('../fonts/opensans-semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/opensans-semibold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/opensans-semibold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/opensans-semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/opensans-bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/opensans-bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/opensans-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/opensans-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}
// fonts
$sans-serif-font: "OpenSansRegular", Helvetica, Arial, sans-serif;
$sans-serif-semi-bold-font: "OpenSansSemiBold", Helvetica, Arial, sans-serif;
$sans-serif-bold-font: "OpenSansBold", Helvetica, Arial, sans-serif;

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  min-width: 320px;
  color: #000;
  background: url("../images/bg.jpg") fixed no-repeat 50% 0%;
  background-size: cover;
}

body {
  padding-top: 0;
  padding-bottom: 0;
  font-family: $sans-serif-font;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: $sans-serif-bold-font;
}

h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: $sans-serif-bold-font;
}

p {
  margin: 10px 0 0 0;
}

a, a:hover, a:active, a:visited {
  color: #000;
  text-decoration: none;
}

.bold {
  font-family: $sans-serif-bold-font;
}

.wrap_all {
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer {
  margin-top: 15px;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;

  p {
      margin: 0;
  }
}

.header {
  font-family: $sans-serif-font;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header_icon {
  max-height: 240px;
  height: 240px;
  margin: 0 auto;
  width: auto;
  display: block;
}

.social_link {
  float: right;
  margin-bottom: 15px;
  margin-left: 15px;
}

.social_icon {
  width: 32px;
  height: 32px;
}

h1.header_text {
  font-family: $sans-serif-semi-bold-font;
  font-size: 4.25em;
  line-height: 0.85em;
  word-wrap: break-all;
  word-spacing: -0.3em;
  vertical-align: top;
  text-align: right;
}

h3.sub_header_text {
  font-family: $sans-serif-font;
  font-size: 1.5em;
  text-align: right;
}

.main {
  margin-top: 0;
  border-top: 1px solid #e5e5e5;
  background-color: #fff;

  .title {
    margin-top: 30px;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.25em;
  }

  p {
    line-height: 1.5;
    text-align: justify;
  }
}

.nav {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  list-style: none;
}

.nav_toggle {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.nav_bar {
  display: block;
}

.nav_bar.collapsed {
  display: none;
}

.nav_list {
  padding: 7.5px 0;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
}

.nav_item {
  text-align: center;
  padding: 7.5px 15px 7.5px 15px;
  display: block;
  text-transform: uppercase;
  text-indent: 0;
}

.section {
  padding-top: 30px;
  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.25em;
  }

  p {
    padding-top: 15px;
    line-height: 1.5;
    text-align: justify;
  }
}

.about {
  margin-top: 15px;
  padding: 30px;
  background-color: #fff;
}

.instagram_title {
  padding-bottom: 0px;
}

.instagram_item {
  margin-top: 30px;
  margin-bottom: 0;
}

.instagram_image {
  width: 100%;
  max-width: 100%;
  padding-bottom: 100%;
  background-size: 100% auto;
  background-position: center
}

.beers {
  margin-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
}

.beer_preview_item {
  margin-top: 30px;
  margin-bottom: 0;
}

.beer_preview_item_content_wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}

.beer_preview_item_title_container {
  position: absolute;
  padding: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
}

.beer_preview_item_image {
  width: 100%;
  max-width: 100%;
}

.beer_preview_item_title {
  color: white;
  max-width: 100%;
  text-transform: uppercase;
  font-size: 2.5em;
  line-height: 1em;
  margin: 15px;
  text-align: center;
  word-break: normal;
  font-family: $sans-serif-bold-font;
}

.beer_details_icon {
    max-width: 100%;
    width: 100%;
}

.beer_details {
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
}

.beer_details_title_container {
    text-transform: uppercase;
}

.beer_details_category {
    margin-top: 5px;
    font-size: 1em;
    font-family: $sans-serif-font;
}

.beer_details_stats {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  text-indent: 0;
  list-style-type: none;
}

.beer_details_stats > li {
  width: 50%;
  display: inline-block;
  text-align: right;
}

.beer_details_stats > li:first-child {
  margin-bottom: 7.5px;
}

.beer_details_description {
  margin: 0;
  padding-top: 15px;
  overflow: hidden;
}

.beer_details_description.more:after {
  content  : "";
  position : absolute;
  z-index  : 1;
  bottom   : 24px;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(to bottom,
                    rgba(255,255,255, 0),
                    rgba(255,255,255, 1) 50%);
  width    : 100%;
  height   : 20px;
}

.less_more_button {
  padding: 3px;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  height: 30px;
}

.right-aligned {
  float: right;
}

.header {
  padding: 30px;
}

.main {
  padding: 15px 30px 30px;
}

@media screen and (min-width: 0) {
  html, body {
    background: #fff;
  }

  .header_icon {
    margin-bottom: 20px;
  }

  h1.header_text {
    font-size: 2.8em;
    line-height: 0.8em;
    word-wrap: break-all;
    word-spacing: -0.3em;
    vertical-align: top;
    margin-bottom: 15px;
    text-align: center;
  }

  h3.sub_header_text {
    font-size: 1.2em;
    text-align: center;
  }

  .header {
    padding: 0 15px;
  }

  .main {
    padding: 0 15px 30px 15px;
  }

  .footer {
    margin-top: 0;
    padding: 15px 15px 0 15px;
  }

  .beer_details_title_container {
    padding-top: 15px;
  }

  .beer_details_stats {
    padding-top: 15px;
  }

  .beer_details_stats > li {
    text-align: left;
  }
}

@media screen and (min-width: 480px) {
  h1.header_text {
    font-size: 3.5em;
  }

  h3.sub_header_text {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 768px) {
  html, body {
    background: url("../images/bg.jpg") fixed no-repeat 50% 0%;
    background-size: cover;
  }

  .header {
    padding: 30px;
  }

  .header_icon {
    margin-bottom: 0;
  }

  .main {
    margin-top: 15px;
    padding: 0 30px 30px;
  }

  .nav_toggle {
    display: none;
  }

  .nav_bar.collapsed {
    display: block;
  }

  .nav_list {
    margin: 0;
    transition: height 1.0s ease-in;
  }

  .nav_item {
    text-align: left;
    padding-top: 7.5px;
    display: inline-block;
    font-family: $sans-serif-bold-font;
  }

  .beer_details_title_container {
    padding-top: 0;
  }

  .footer {
    margin-top: 15px;
    padding: 15px 30px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 800px;
  }

  .section {
    font-size: 100%;
  }

  .beer_details_title_container {
    padding-top: 0;
  }

  .beer_details_stats {
    padding-top: 0;
  }

  .beer_details_stats > li {
    text-align: right;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }

  .section {
    font-size: 100%;
  }
}
